body{
    background-color: white;
    
}
input[type=text ]{
    width: 98%;
    padding: 6px 12px;
    /* box-sizing: ; */
    margin: 8px 0;
    background-color:white;

}
input[type=text]:focus, input[type=number]:focus {
    background-color: white;
    outline: none;
  }
input[type=text]:hover::after{
    opacity: 2;
}
label{
    color:  black;
    padding: 5px;
    font-size: large    ;
}
button{
    background-color:green;
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    opacity: 2;
}
#bill{
    text-align: center;
    color: linen;
}
#pay{
    color:  black;
}
#d1{
    margin-left: 50px;
}
button:hover{
    /* background-color: lightgreen; */
    opacity: 2;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li{
    display: inline;
}
p{
    font-size: ;
}
#form1{
    width: 50%;
    margin-left:360px;
}
#id1{
    width: 50%;
    margin-left: 360px;
}
#card{
    height: 50px;
    width: 60px;
    padding: 2px;
    border: black 1px solid;
}
.btn{
    background-color: green;
    border: solid 1px black;
    color: green;
    padding: 12px 27px;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    opacity: 2;
    align-self: center;
    margin-left: 40%;
    
}
#btn1{
    padding: 10px;
    text-align: end;
    margin-inline-start: auto;
    margin-left: 500px;
}